/////////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: "roboto";
    src: url(../../fonts/Roboto-Light.ttf);
}

// App variables

$primary-font: "";

$default-font: "roboto";

$main-background-color: #CBCED5;

$main-tab-background-color: white;

$main-width: 100vw;

$main-height: 100vh;

$mobile-default-font-size: 18px;

$mobile-header-font-size: $mobile-default-font-size * 1.1;

// Color scheme

$active-tab: #1684FC;

$primary: #415058;

$secondary: #616f77;

$error:red;

$terinary: rgba(20, 20, 20, 0.637);

$shadow: rgba(78, 78, 78, 0.925);

// layering

$top-layer:8;

$bottom-layer:0;

// layout

$center-layout-display: flex;

$center-layout-mobile-flow-dir: row;

$center-layout-justify-content: center;

$center-layout-align-item: center;

// form components

$text-input: (
    "height":55%,
    "width": 75%,
    "bord": solid $secondary 2px,
    "border-radius":5px,
    "font-size": 2vh,
    "padding-left": 4px
);


$button: (
    "padding": 5px,
    "background-color":black,
    "color": white,
    "border": solid 1px black,
    "border-radius": 5px,
    "focused-color":black,
    "focused-background-color":white,
    "font-size":$mobile-default-font-size*0.75
);

$cancel-button: (
    "padding": 5px,
    "background-color":$error,
    "color": white,
    "border": solid 1px $error,
    "border-radius": 5px,
    "focused-color":$error,
    "focused-background-color":white,
    "font-size":$mobile-default-font-size*0.75
);

/////////////////////////////////////////////////////////////////////////////////////////

// Loading variables

$loading-wrapper-width: 100vw;

$loading-wrapper-height: 100vh;

$loading-wrapper-position: fixed;

$loading-wrapper-background: $terinary;

/////////////////////////////////////////////////////////////////////////////////////////

// NavBar variables

$nav-wrapper-background: $terinary;

$mobile-nav-background:$main-tab-background-color;

// Icon

$down-arrow-icon: "\f107";

$up-arrow-icon: "\f106";

// Position

$general-nav-position: absolute;

// Dimension

$mobile-nav-width: 100vw;

$mobile-nav-height: 100vh;

// Tabs layout

$mobile-nav-display: flex;

$mobile-nav-display-dir: column;

$mobile-main-axis-align: flex-start;

$tab-separator-width: 20px;

$secondary-axis-top-offset: 70px;

$main-axis-left-offset: 20px;

$main-axis-right-offset: 20px;


// Tab content

$movile-header-font-weight: 600;

$mobile-content-separator: 10px;

$mobile-icon-margin-offset-right: 10px;

$mobile-sub-options-padding-offset-left: 20px + $mobile-icon-margin-offset-right;

$mobile-close-btn-pos-right: $mobile-icon-margin-offset-right + 4px;

$mobile-close-btn-pos-top: 10px;

/////////////////////////////////////////////////////////////////////////////////////////

// Catalog variables

$util-bar: (
    "height":8vh,
    "display": flex,
    "flex-direction":row,
    "justify-content":space-between,
    "align-items": center,
    "padding": 0 10px 0 5px,
    "box-shadow": 10px 2px 20px $shadow
);



