/////////////////////////////////////////////////////////////////////////////////////////
@font-face {
    font-family: "roboto";
    src: url(../../fonts/Roboto-Light.ttf);
}

// App variables

$primary-font: "";

$default-font: "roboto";

$main-background-color: #CBCED5;

$main-width: 100vw;

$main-height: 100vh;

$mobile-default-font-size: 18px;

$mobile-header-font-size: $mobile-default-font-size * 1.1;

/////////////////////////////////////////////////////////////////////////////////////////

// NavBar variables

// Icon

$down-arrow-icon: "\f107";

$up-arrow-icon: "\f106";

// Color scheme

$nav-wrapper-background: rgba(20, 20, 20, 0.637);

$mobile-nav-background:white;

$active-tab: #1684FC;

$primary: #415058;

$secondary: #616f77;

$shadow: rgba(0, 0, 0, 0.925);

// Position

$general-nav-position: absolute;

// Dimension

$mobile-nav-width: 100vw;

$mobile-nav-height: 100vh;

// Tabs layout

$mobile-nav-display: flex;

$mobile-nav-display-dir: column;

$mobile-main-axis-align: flex-start;

$tab-separator-width: 20px;

$secondary-axis-top-offset: 70px;

$main-axis-left-offset: 20px;

$main-axis-right-offset: 20px;


// Tab content

$movile-header-font-weight: 600;

$mobile-content-separator: 10px;

$mobile-icon-margin-offset-right: 10px;

$mobile-sub-options-padding-offset-left: 20px + $mobile-icon-margin-offset-right;

$mobile-close-btn-pos-right: $mobile-icon-margin-offset-right + 4px;

$mobile-close-btn-pos-top: 10px;

/////////////////////////////////////////////////////////////////////////////////////////

// Catalog variables

